.video-youtube {
    margin-top: 100px;
    text-align: center;
}
/* Layout Eventlive */
.event {
    background-image: url('../Images/background_barner.jpg');
    border-radius: 25px;
    width: 300px;
    height: 200px;
    padding: 20px;
}

.div-header-live {
    display: flex;
    height: 60px;
}
.div-header-live>img {
    border-radius: 5px;
    width: 50px;
    height: 30px;
}
.div-header-live>h6 {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.match-name {
    text-align: center;
    color:rgb(255, 255, 255);
}
.match-name>h5:hover {
    font-size: 22px;
    color: red;
}
/*  */

iframe {
    border-radius: 15px;
}
/*  */
.div-livestreamchat {
    display: flex;
    margin-top: 100px;
}
.div-chat {
    width: 100%;
    min-height: 490px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
}
.div-chat>h4 {
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
.div-input-chat {
    background-color: rgb(28, 28, 28);
    color: white;
}
.text-comment {
    background-color: rgb(42, 42, 42);
    height: 300px;
    color: white;
    padding: 20px;
}
.div-input-chat {
    display: flex;
    margin-top: 8px;
    background-color: rgb(4, 3, 3);
    height: 105px;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}

.div-input-chat>div>input {
    width: 270px;
    height: 35px;
    border-radius: 25px;
    text-align: center;
}
.button-send-chat {
    width: 100px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(48, 169, 255);
}
.button-send-chat:hover {
    background-color: rgb(3, 118, 201);
}

