<nav class="navbar navbar-expand-sm fixed-top text-center">
  <div class="container-fluid nav">
    <a class="navbar-brand" href="./index.html"><img src="./Public/assets/icon.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <i class='bx bx-menu-alt-right icon'></i>
    </button>

    <div class="collapse navbar-collapse navbar-css" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="./index.html"><i class='bx bxs-home-circle'></i> HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!Link/Link"><i class='bx bx-link-alt'></i> LINK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!Other/Other"><i class='bx bxs-message-square-add'></i> OTHER</a>
        </li>
      </ul>
    </div>
    <div>
      <a href="./Admin/index.html">admin</a>
    </div>
  </div>
</nav>