<title>{{namepage}} - FulltimeTV</title>

<div class="div-login">
    <form action="/Admin/index.html" name="manageform" id="manage-form">
        <h5>Login Admin</h5>
        <div class="form-group">
            <label class="form-label" for="Username">Username</label><br>
            <input name="Username" ng-model="Username" required type="text" class="form-input"
                placeholder="Nhập Username or Gmail..." /><br>
            <span class="form-message" ng-show="manageform.Username.$touched && manageform.Username.$invalid">Vui lòng
                nhập trường này !</span>
        </div>

        <div class="form-group">
            <label class="form-label" for="Password">Password</label> <br>
            <input name="Password" ng-model="Password" required type="password" class="form-input"
                placeholder="Nhập password..." /><br>
            <span class="form-message" ng-show="manageform.Password.$touched && manageform.Password.$invalid">Vui lòng
                nhập trường này !</span>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="button-login form-submit"
                ng-disabled="manageform.Username.$dirty && manageform.Username.$invalid ||  manageform.Password.$dirty && manageform.Password.$invalid">Login</button>
        </div>
    </form>
</div>