<title>Home - FulltimeTV</title>
<div class="section">
    <img src="./Public/Images/background_barner.png" alt="">
</div>
<div class="container-fluid mt-5 div-main m-auto">
    <div class="row row-cols-lg-4 m-auto">
        <div class="col mt-2 m-auto" ng-repeat="match in Listmatch">
            <div class="event m-auto">
                <div class="div-header-live">
                    <img src="./Public/Images/Livepng.png" alt="">
                    <h6 class="match-name-tournament">{{match.name | uppercase}}</h6>
                </div>
                <a href='#!Live/{{match.id}}/{{match.TeamOne | uppercase}}/{{match.TeamTwo | uppercase}}/{{match.name | uppercase}}'>
                    <div class="match-nameteam">
                        <h5>{{match.TeamOne | uppercase}}<br> vs <br>{{match.TeamTwo | uppercase}}</h5>
                        <div class="div-button-watch">
                            <span>Xem ngay</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>